<div class="container py-5"
    style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
    <h3 class="text-center mb-3">Login</h3>
    <div class="card" style="width:100%; max-width: 35rem;">
        <div style="display: flex; justify-content: space-between; align-items: center;" class="card-header">
            
        </div>
        <div class="card-body">
            <form action="/login" method="POST">
                <% if(locals.messages.success){ %>
                <div class="alert alert-success" role="alert">
                    <%= locals.messages.success %>
                </div>
                <% } %>
                <% if(locals.messages.error){ %>
                <div class="alert alert-danger" role="alert">
                    <%= locals.messages.error %>
                </div>
                <% } %>
                <div class="form-floating mb-3">
                    <input type="text" name="username" class="form-control" placeholder="username">
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="password" placeholder="password">
                </div>
                <button style="width: 100%;" type="submit" class="btn btn-primary">Login</button>
                <a href="/signup" type="button" id="loginBtn" style="width: 100%;" class="btn btn-outline-primary btn-sm">Don't Have an Account? Register</a>
            </form>
        </div>
    </div>
</div>

<style>
    .container{
        /* border: 1px solid red; */

        padding-top: 70px;
    }
    .card-body{
        margin: 10px;
    }
    #loginBtn{
        margin-top: 10px;
    }
    
</style>