<div class="container py-5"
    style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
    <h3 class="text-center mb-3">Register</h3>
    <div class="card" style="width:100%; max-width: 35rem;">
        <div style="display: flex; justify-content: center; align-items: center;" class="card-header">
        </div>
        <div class="card-body" >
            <form action="/signup" method="POST">
                <% if(locals.messages.success){ %>
                <div class="alert alert-success" role="alert">
                    <%= locals.messages.success %>
                </div>
                <% } %>
                <% if(locals.messages.err){ %>
                <div class="alert alert-danger" role="alert">
                    <%= locals.messages.err %>
                </div>
                <% } %>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input type="text" name="name" class="form-control" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input type="text" name="username" class="form-control" placeholder="Username">
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-floating">
                        <input type="email" name="email" class="form-control" placeholder="Email">
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                </div>
                <button style="width: 100%;" type="submit" class="btn btn-primary">Register</button>
                <a id="registerBtn" href="/login"  type="button" class="btn btn-outline-primary btn-sm">Already have an Account? Login</a>
            </form>
        </div>
    </div>
</div>

<style>
    .container{
        /* border: 1px solid red; */
        padding-top: 70px;
    }
    .card-body{
        margin: 10px;
    }
    .btn{
        margin-top: 20px;
    }
    #registerBtn{
        margin-top: 10px;
        width: 100%;
    }
</style>