<div class="dataContainer">
  <header><%- include('partials/header'); %></header>
  <main>
    <div>
      <h4>Premium Video Meating on a GO</h4>
      <h6>A Meating Destination for Everyone</h6>
    </div>
    <div class="meating">
      <a
        href="/new-meeting"
        style="width: 180px"
        style="padding-top: 15px"
        class="btn btn-primary new-meeting"
        role="button"
        >New Meeting</a
      >
      <div id="form">
        <form action="join-room" method="POST">
          <input
            name="room_id"
            type="text"
            class="form-control"
            placeholder="Enter a code or Link"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
          />
          <button
            class="btn btn-outline-primary"
            type="submit"
            style="width: 180px"
            id="button-addon2"
          >
            Join
          </button>
        </form>
      </div>
    </div>
  </main>
  <div>
    <a href="#" style="text-decoration: none">Learn more about</a
    ><b> Kloud Connect </b>
  </div>
</div>

<style>
  .dataContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
  }
  main,
  h4,
  h6,
  form {
    padding-top: 50px;
    text-align: center;
  }
  #form {
    padding-left: 20vw;
    padding-right: 20vw;
  }
</style>
